body{
    background-color: black;
}
#textcontainer{
    font-family: 'Merriweather', serif;
    font-size: 3vw;
}
.hidden{
    font-size: 0;
}

#next{
    margin-right: 5%;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 3vw;
    border: 5px solid white;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}