.try{
    border: 1px solid white;
    object-fit: cover;
}

.row-content{
    margin: 1px auto;
    border-bottom: 1px ridge;
    padding: 20px 0px 20px 0px;
    min-height: 40vh;
}

img{
    border-radius: 2%;
}

a{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
a:hover{
    color: inherit;
}

.phead{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 6.5vh;
    margin: 10px 0px 10px 0px;
}

.pbody{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3vh;
    margin: 10px 0px 10px 0px;
}