body{
    background-color: black;
}
#textcontainer{
    font-family: 'Merriweather', serif;
    font-size: 10vh;
}
.hidden{
    font-size: 0;
}

#next{
    margin-right: 12%;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 10vh;
    border: 5px solid white;
    cursor: pointer;
    padding: 7px;
}